<div id="body">
    <mat-card class="card-container">
        <div *ngIf="!getToken()">
            <mat-card-header class="d-flex align-items-center h-max mb-3 p-0">
                <mat-card-actions *ngIf="registerForm">
                    <button mat-icon-button matTooltip="Back to login" color="primary" class="rounded-full w-max block" (click)="switchForms()">
                        <mat-icon class="mx-auto">arrow_back_ios</mat-icon>
                    </button>
                </mat-card-actions>
                <div [ngClass]="{'my-3': !registerForm}">
                    <mat-card-title class="uppercase">{{ registerForm ? 'REGISTER' : 'LOGIN' }}</mat-card-title>
                </div>
            </mat-card-header>
            <ng-container *ngIf="!registerForm; else registerBlock">
                <form [formGroup]="form" (ngSubmit)="login()">
                    <div>
                        <mat-form-field class="w-100">
                            <mat-label>E-mail</mat-label>
                            <input matInput type="email" formControlName="email" placeholder="Insert your e-mail" maxlength="50">
                        </mat-form-field>     
    
                        <div *ngFor="let errorKey of getErrorKeys('email')">
                            <div *ngIf="form.get('email')?.hasError(errorKey) && form.get('email')?.touched" class="error">
                              {{ getErrorMessage(errorKey, 'email') }}
                            </div>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class="w-100">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password" placeholder="Insert your password" class="w-full">
                        </mat-form-field>
    
                        <div *ngFor="let errorKey of getErrorKeys('password')">
                            <div *ngIf="form.get('password')?.hasError(errorKey) && form.get('password')?.touched" class="error">
                              {{ getErrorMessage(errorKey, 'password') }}
                            </div>
                        </div>
                    </div>
    
                    <div class="text-center">
                        <span>Dont have a account? <a class="text-decoration-none fw-bolder cursor-pointer" (click)="switchForms()">Register</a></span>
                    </div>
                    <div class="flex mb-1 mt-4">
                        <button type="submit" mat-raised-button color="primary" class="w-100">Login</button>
                    </div>
                </form>
            </ng-container>
            <ng-template #registerBlock>
                <app-register></app-register>
            </ng-template>
        </div>
        <ng-template>
            <div id="userRegistered" class="mt-2 mx-auto">
                <mat-icon class="text-green mx-auto w-32 h-32 text-xl">check_circle</mat-icon>
                <h2 class="text-center text-green">You successfully registerd!</h2>

                <div class="flex mt-4">
                    <button mat-raised-button color="primary" (click)="redirectHome()" class="w-100">GO TO HOME</button>
                </div>
            </div>
        </ng-template>
    </mat-card>
</div>