@import url('../login/login.component.css');
@import url('../../../../styles.css');

.password_rules {
    margin-top: -10px;
}

.password_rules .rule_text {
    vertical-align: super;
}

.text-green {
    color: rgb(0, 114, 42);
}

.flex {
    display: flex;
}