@import '~bootstrap/dist/css/bootstrap.min.css';

.sidenav{
  background-color: #3f51b5;
  width: 170px;
}
.sidenav span, .sidenav i{
  color: white;
}
.sidenav a i{
  vertical-align: middle;
  padding-right: 10px;
}
.content{
  padding: 16px;
  margin-top: 70px;
}
.sidenav a:last-of-type{
  vertical-align: bottom;
}

@media (max-width: 1024px) {
  span{
    display: none;
  }
  .sidenav{
    background-color: #00072f;
    width: 60px;
  }
}
