@import '~bootstrap/dist/css/bootstrap.min.css';

mat-side-nav {
  z-index: 20;
}
.sidenav{
  background-color: rgb(16, 16, 16);
  width: 53px;
  margin-top: -70px;
}
.sidenav:hover {
  width: 150px;
  transition: 0.5s;
}
.sidenav a:hover{
  background-color: black;
  transition: 0.5s;
}
.sidenav span{
  margin-left: 20px;
}
.sidenav:hover span{
  margin-left: 0px;
  transition: 0.5s;
}
.sidenav:hover .nav_link_selected{
  width: 140px;
  transition: 0.5s;
}
.sidenav a:hover {
  border: 1px solid #ffffff;
}
.sidenav .nav_link_selected {
  border: 1px solid #ffffff;
  width: 42px;
}
.sidenav .nav_link_selected:hover {
  border-radius: 10px;
}
.sidenav a{
  margin: 5px;
  border-radius: 10px;
  padding: 8px !important;
  width: 140px;
}
.sidenav a:first-of-type{
  margin-top: 0px;
}
.sidenav a:last-of-type{
  margin-bottom: 0px;
}
.sidenav span, .sidenav i{
  color: white;
}
.sidenav a i{
  vertical-align: middle;
  padding-right: 10px;
}
.content{
  padding: 20px !important;
  height: 100vh;
  padding-bottom: 40px;
  background-color: rgb(19, 19, 19);
  overflow-x: hidden;
}
.sidenav a:last-of-type{
  vertical-align: bottom;
}