<mat-sidenav-container class="">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons">
          home
        </i>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/products" *ngIf="getToken()">
        <i class="material-icons">
          storefront
        </i>
        <span>Products</span>
      </a>
      <a mat-list-item routerLink="/categories" *ngIf="getToken()">
        <i class="material-icons">
          category
        </i>
        <span>Categories</span>
      </a>
      <a mat-list-item (click)="openLogout()" *ngIf="getToken()" class="mt-auto block">
        <i class="material-icons">
          logout
        </i>
        <span>Logout</span>
      </a>
      <a mat-list-item routerLink="/login" *ngIf="!getToken()">
        <i class="material-icons">
          login
        </i>
        <span>Login</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
