<mat-card>
  <mat-card-title>New Product</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="createProduct()">
    <div>
      <mat-form-field>
        <input matInput formControlName="name" required type="text" placeholder="Insert the product name" appearance="outline">
      </mat-form-field>
      <div *ngFor="let errorKey of getErrorKeys('name')">
          <div *ngIf="form.get('name')?.hasError(errorKey) && form.get('name')?.touched" class="error">
              {{ getErrorMessage(errorKey, 'name') }}
          </div>
      </div>
    </div>

    <div class="flex">
      <div class="w-1/2">
        <mat-form-field>
          <input matInput formControlName="price" required type="number" maxlength="5" placeholder="Insert the price" appearance="outline">
        </mat-form-field>
        <div *ngFor="let errorKey of getErrorKeys('price')">
          <div *ngIf="form.get('price')?.hasError(errorKey) && form.get('price')?.touched" class="error">
              {{ getErrorMessage(errorKey, 'price') }}
          </div>
        </div>
      </div>
  
      <div class="w-1/2 ml-2">
        <mat-form-field>
          <mat-select placeholder="Select a category" formControlName="category_id" [disabled]="categories.length == 0">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{ category.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngFor="let errorKey of getErrorKeys('category_id')">
          <div *ngIf="form.get('category_id')?.hasError(errorKey) && form.get('category_id')?.touched" class="error">
              {{ getErrorMessage(errorKey, 'category_id') }}
          </div>
        </div>
      </div>
    </div>

    <div class="mb-1">
      <button type="submit" [disabled]="form!.errors || isAnyFieldsEmpty()"  mat-raised-button color="primary">Save</button>
  
      <button (click)="cancel()" mat-raised-button color="cancel">Cancel</button>
  
      <div class="date">
        Created at:
        <span>{{ form.get('created_at')!.value | date:'H:mm a - yyyy/MM/dd' }}</span>
      </div>
    </div>
  </form>
</mat-card>
