.footer{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  height: 40px;
  background-color: rgb(16, 16, 16);
}
.footer > span{
  font-weight: 300;
  font-size: 1.1rem;
  color: #c1c1c1;
}
.cursor-pointer{
  cursor: pointer;
}