<mat-card>
    <mat-card-title>Update Category</mat-card-title>
    <form [formGroup]="form" (ngSubmit)="updateCategory()">
      <div>
        <mat-form-field>
          <input matInput formControlName="name" required type="text" placeholder="Insert the category name">
        </mat-form-field>
        <div *ngFor="let errorKey of getErrorKeys('name')">
            <div *ngIf="form.get('name')?.hasError(errorKey) && form.get('name')?.touched" class="error">
                {{ getErrorMessage(errorKey, 'name') }}
            </div>
        </div>
      </div>
  
      <div class="mb-1">
        <button type="submit" [disabled]="form!.errors || isAnyFieldsEmpty()"  mat-raised-button color="primary">Save</button>
    
        <button (click)="cancel()" mat-raised-button color="white">Cancel</button>
    
        <div class="date">
          Created at:
          <span>{{ form.get('created_at')!.value | date:'H:mm a - yyyy/MM/dd' }}</span>
        </div>
      </div>
    </form>
  </mat-card>
  